body {
    background-color: rgb(64, 64, 64);
}

.box {
    width: 400px;
    height: 250px;
    background: rgb(150, 150, 150);
    border-radius: 20px;
    margin: 0 auto;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 50px;
}

a {
    font-size: 60px;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: white; 
    text-decoration: none; 
    text-align: center;
}